body {
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
}

main{
    display: flex;
    justify-content: left;
}

.emoji {
    border: 1px solid #222;
    display: flex;
    padding: 1rem;
    border-radius: 8px;
    max-width: 380px;
    flex-direction: column;
    justify-content: flex-start;
}

.emoji h2 {
    margin: 0;
    border-bottom: 2px solid #ccc;
}

.emojis {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}

.emoji a {
    text-decoration: none;
    background-color: #7613ac;
    color: white;
    padding: 1rem;
    margin-top: auto;
    border-radius: 8px;
    align-content: flex-end;
}

.icon {
    font-size: 4rem;
    order: -1;
    align-self: center;
}